@page
@using Microsoft.EntityFrameworkCore.Metadata.Conventions
@model IndexModel
@{
    ViewData["Title"] = "Personer";
}

<div>
    <h3 id="namn"></h3>
    <p id="more"></p>
</div>


<div class="card">
    <div class="card-header">
        <h1>Alla personer</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Namn</th>
                <th>Email</th>
                <th>City</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var person in Model.Persons)
            {
                <partial name="Shared/_PersonRow" model="@person" />
            }
        </table>
        
        <a class="btn" asp-page="New">Create new</a>

    </div>
</div>


@section SuperDuperHeading
{
    Hej frpån Person
}

@section Scripts
{
    <script>
        function fetchInfo(id) {
            fetch("/Person/Index?handler=FetchInfo&id=" + id)
                .then((response) => response.json())
                .then((json) => {
                        document.getElementById('namn').innerHTML = json.namn;
                        document.getElementById('more').innerHTML = json.antalBilar;
                    }
            
                );
            
        }
    </script>
}
