@page
@model SkysFormsDemo.Pages.RegisterModel
@{
}


<form method="post">
    
    <div class="form-group">
        <label asp-for="Email">Epost</label>
        <input class="form-control" asp-for="Email" />  
        <span asp-validation-for="Email" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmailAgain">Upprepa eposten</label>
        <input class="form-control" asp-for="EmailAgain" />  
        <span asp-validation-for="EmailAgain" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Lösen</label>
        <input class="form-control" asp-for="Password" />  
        <span asp-validation-for="Password" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="PasswordAgain">Lösen igen</label>
        <input class="form-control" asp-for="PasswordAgain" />  
        <span asp-validation-for="PasswordAgain" class="field-validation-error"></span>
    </div>
    
    
    <div class="form-group">
        <label asp-for="Age">Ange ålder</label>
        <input class="form-control" asp-for="Age" />  
        <span asp-validation-for="Age" class="field-validation-error"></span>
    </div>


    <div class="form-group">
        <label asp-for="CountryCode">Land</label>
        <select class="form-control" asp-for="CountryCode" asp-items="@Model.Countries" >  
        </select>
        <span asp-validation-for="CountryCode" class="field-validation-error"></span>
    </div>

    
    <div class="form-group">
        <label asp-for="Capital">Huvudstad</label>
        <input class="form-control" asp-for="Capital" />  
        <span asp-validation-for="Capital" class="field-validation-error"></span>
    </div>
    
    
    <div class="form-group">
        <label asp-for="Year">Ange ett årtal</label>
        <input class="form-control" asp-for="Year" />  
        <span asp-validation-for="Year" class="field-validation-error"></span>
    </div>



    <button type="submit" class="btn">Save</button>


</form>
